<header class="header-component">
    <img src="/assets/image/cleison-profile.jpg" alt="Cleison Nunes - Foto de Perfil" loading="eager">
    <h1>Cleison da Silva Nunes</h1>
</header>

<aside>
    <div class="container">
        <p>Desenvolvedor .NET | Angular | SQL | RPA</p>
        <p>Itaquaquecetuba - SP</p>
        <p>
            Sou apaixonado por programação
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/curriculo-cleisondev.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/cleison-nunes-0b5869154/" target="_blank"
                        class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Ícone para contato do WhatsApp" />
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5511965983294&text=Ol%C3%A1%20Cleison,%20preciso%20de%20um%20job!"
                        target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: 11965983294</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src="assets/icons/mail.svg" alt="Ícone para envio de e-mail" />

                <figcaption>
                    <a href="mailto:cleison.nunes20@gmail.com" target="_blank">
                        <strong>Envie uma E-mail para:</strong>
                        <p>{{email}}</p>
                    </a>
                </figcaption>
            </figure>

        </section>
    </div>
</aside>