:root {
    --primary: #b93f3f; /* Vermelho terroso */
    --primary-010: #8b2f2f;

    --secondary: #fdb376; /* Rosa claro */
    --secondary-010: #f19999;

    --accent: #d4a373; /* Marrom claro terroso */
    --accent-010: #c2976a;

    --tertiary: #bcb48a; /* Bege esverdeado */
    --tertiary-010: #e0d9b5;

    --background: #f3e7dd; /* Marfim pastel para fundo */

    --white: #fff;
    --black: #10101a;
    --black-010: #2a2a30;
    --grey: #9b9ba0;
}
