:root {
    --primary: #FF4545; /* Vermelho terroso */
    --primary-010: #CCD5AE;

    --secondary: #f0e5cb; /* Rosa claro */
    --secondary-010: #6fa18e;

    --accent: #E0E5B6; /* Marrom claro terroso */
    --accent-010: #e68a6e;

    --tertiary: #E0E5B6; /* Bege esverdeado */
    --tertiary-010: #6fa18e;

    --background: #ffffff; /* Marfim pastel para fundo */

    --white: #fff;
    --black: #10101a;
    --black-010: #2a2a30;
    --grey: #9b9ba0;
}
