:root {
    --primary: #257180; /* Vermelho terroso */
    --primary-010: #257180;

    --secondary: #fdb376; /* Rosa claro */
    --secondary-010: #f19999;

    --accent: #f7b798; /* Marrom claro terroso */
    --accent-010: #e68a6e;

    --tertiary: #F2E5BF; /* Bege esverdeado */
    --tertiary-010: #d6c591;

    --background: #f3e7dd; /* Marfim pastel para fundo */

    --white: #fff;
    --black: #10101a;
    --black-010: #2a2a30;
    --grey: #9b9ba0;
}
